<!DOCTYPE html>
<html lang="en">

  <head>
   <!-- Favicon-->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
  <link rel="stylesheet" href="/static/error.css">
   <title>
    Otaku Hub
   </title>
  </head>
  <body>

    <section class="page_404">
      <div class="container">
          <div class="row">	
          <div class="col-sm-12 ">
          <div class="col-sm-10 col-sm-offset-1  text-center">
          
              <h1 class="text-center text-danger">Error 404</h1>
          
          
          <br> <br>
          
          <div class="contant_box_404">
          <h3 class="h2">
          Look like you're lost
          </h3>
          
          <p>the page you are looking is not available!</p>
          <div class='four_zero_four_bg'>
          <a href="/home" class="link_404">Go to Home</a>
      </div>
          </div>
          </div>
          </div>
      </div>
  </section>
</body>  
</html>